.emdiv{
    height: 360px;
    width: 400px;
    border-radius: 4px;
    border: 0.4px solid #8E8E8E;
    margin-left: 730px;
    margin-top: 72px;
    padding-left: 48px;
}

.code{
    margin-left: 90px;
}


.conform{
   height: 32px;
   width: 250px;
   margin-left: 65px;
   margin-top: 16px;
   font-size: 13px;
   line-height: 16px;
   letter-spacing: 0.25px;
   font-weight: 400px; 
   margin-bottom: 13px;
}

.emailimg{
    margin-top: 33px;
    margin-bottom: 23px;
    margin-left: 140px;
}

.qwe{
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.bnm{
    color: #0095F6;
    margin-left: 5px;
}
.link{
    text-decoration: none;
    color: #FFFFFF;
  }