.signupmain_lay{
    height: 585px;
    width: 448px;
    border: 0.4px solid #8E8E8E;
    border-radius: 4px;
    margin-left: 730px;
    margin-top: 50px;
    padding-left: 38px;
}

.from{
    height: 42px;
    width: 252px;
    margin-left: 98px;
    margin-top: 24px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    color: #8E8E8E;
}

.email_lay{
    width: 400px;
    height: 416px;
    border-radius: 4px;
    border: 0.4px solid #8E8E8E;
    margin-left: 730px;
    margin-top: 60px;
    padding-left: 48px;
}


.addbirth{
    width: 150px;
    height: 24px;
    margin-left: 100px;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #262626;
    text-align: center;
}

.pbpro{
    height: 16px;
    width: 288px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.16px;
    text-align: center;
    font-weight: 400px;
    margin-left: 26px;
    margin-top: 24px;
    color: #262626;
}

.bd{
    height: 16px;
    width: 288px;
    margin-left: 30px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500px;
    color: #0095F6;
}


.face1{
    display: flex;
    height: 32px;
    width: 352px;
    border-radius: 4px;
    margin-left: 46px;
    margin-top: 24px;
    background-color: #0095F6;
}

.face_logo1{
    margin-left: 94px;
    margin-top: 9px;
}

.face_text1{
    width: 170px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    font-weight: 500px;
    color: #FFFF;
    margin-top: 9px;

}

.terms{
    width: 288px;
    height: 32px;
    margin-left: 80px;
    margin-top: 24px;
    font-weight: 500px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    text-align: center;
    color: #8E8E8E;
}
.terms1{
    width: 288px;
    height: 32px;
    margin-left: 30px;
    margin-top: 24px;
    font-weight: 500px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
    text-align: center;
    color: #8E8E8E;
}

.cake{
    margin-top: 22px;
    margin-left: 135px;
}
.goback{
    margin-left: 136px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #0095F6;
    height: 16px;
    width: 60px;
}
.link{
    text-decoration: none;
    color: #FFFFFF;
  }