.App {
  /* width: 1440px; */
  /* height: 100%; */
  /* text-align: center; */
  /* background-color: white; */
}
* {
  font-family: "SF Pro Display";
}
body {
  width: 1440px;
  height: 100%;
  margin: auto;
  /* background-color: #282c34; */
}
